<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Editor" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.LiveShare" version="1.1.57" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.LiveShare.LanguageServices" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="15.4.4" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net472" />
</packages>